.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix { /* IE 6/7 */
    zoom:1;
}

/* ====================================================================
    box sizing    
 =====================================================================*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ====================================================================
    overwrite bootstrap    
 =====================================================================*/
.row {
    margin: 0;
    padding: 0;
}

div[class*="col-"],
section[class*="col-"],
article[class*="col-"],
blockquote[class*="col-"],
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}



/* ====================================================================
    Functions    
 =====================================================================*/
.maxMinWidth (@max; @min: 320px; @width: 100%) {
    max-width: @max;
    min-width: @min;
    width: auto;
}
/* ====================================================================
    helper classes    
 =====================================================================*/
