.container-fluid.page-header {
    margin-top: 0;
    margin-bottom: 0;
    background-color: @header-background-color;
    border: none;
}

header.page-header {
    background-color: red;
}

.statusbar__wrapper {
    padding: 0 @base-horizontal-padding;
    background-color: inherit;
}

.navbar-default.statusbar__navbar {
    background-color: inherit;
}
