.header__statusbar {
    .clearfix;
    @paddingVertical: 0;
    @paddingHorizontal: @contentBasePadding;
    width: 100%;
    padding:  @paddingVertical @paddingHorizontal;

    background-color: #276187;
    border-radius: none;
}

.statusbar__navbar {
    margin: 0;
    padding: 0;
}

.statusbar__link {
    padding: @contentBasePadding * 0.84 0;
    color: @baseFontColor;

}
