@base-font-size: 14px;
@base-text-font-family: 'Arial';
@base-text-font-family-fallback: 'sans serif';
@base-headers-menus-font-family: 'Roboto Condensed';
@base-menu-line-height: 50px;

@base-vertical-padding: 20px;
@base-horizontal-padding: 15px;

@base-font-color: darken(#ffffff, 5%);
@pageheader-background-color: #276187;
@pageheader-border-color: #75b8e5;
@searchbox-dark-background-color: #084b78;
@base-action-color: #f9d100;

@video-controls-secondary-background: rgba(31,71,92,0.05);
@play-button-color: rgba(31,71,92,0.7);








